
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#version
{
    font-size: 12px;
}

.update, .delete
{
    font-size: 12px;
    padding: 3px;
}

.column-id
{
    width: 50px;
}

.column-edit
{
    width: 100px;
}

.form-group
{
    padding: 10px;
    background-color: #ECECEC;
}